{% extends "wall_app/base.html"%}

{% block title %}Bienvenido {{request.session.usuario.first_name}} {{request.session.usuario.last_name}}{% endblock %}


{% block content %}
   
    <div class="container">
        {% if request.session.usuario %}
            <h1>Bienvenido {{request.session.usuario.first_name}}  {{request.session.usuario.last_name}}</h1>
        {% else %}
            <h4>Bienvenido Invitado, <a href="{% url 'home' %}">Accede aqui</a></h4>
        {% endif %}
    </div>
    <div class="container mt-4">
        <div class="container row justify-content-start">
            {% if request.session.usuario %}
            <h5>Post a message</h5>
                <form action="/new_message" method='POST'>
                    {% csrf_token %}
                    <div class="mb-3 row">
                       <div class="col-8">
                            <textarea type="text" class="form-control" name="message" rows="3" id="message" placeholder="message"></textarea>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn btn-outline-info my-4" mt-3 justify-content-end" type="submit" value="Post a message">Post a message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
            <div class="container">
                {% for message in messages %}
                    <h5>{{message.user_id.first_name}} {{message.user_id.last_name}} - {{message.created_at}} </h5>
                    <p>{{message.message}}</p>

                    {% for comment in message.comments.all %}
                    {{comment.user_id.first_name}} {{comment.user_id.last_name}} {{comment.created_at}}
                    <p>{{comment.comment}}</p>

                    {% endfor %}

                    {% if request.session.usuario %}
                    <form action="/new_comment" method='POST'>
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <div class="col-8">
                                    <input type="hidden" name="message_id" value="{{message.id}}">
                                    <textarea type="text" class="form-control" name="comment" rows="3" id="comment" placeholder="comment"></textarea>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn btn-outline-success my-4" mt-3 justify-content-end" type="submit" value="Post a comment">Post a comment</button>
                                    </div>
                                </div>
                            </div>
                        <div
                    </form>

                {% endif %}
            {% endfor %}

        </div>






{% endblock %}